

 <!-- Side navigation -->
<div class="sidenav">

  <a class="" href="/">
           <%= image_tag "logo-green.svg" %>
  </a>
  
  <a href="/shops"><i class="nav-icon fas fa-shopping-cart"></i>Buy<span class="badge badge-warning right">1</span></a>
  <div class="dropdown-divider"></div>
  <a href="#">Help</a>

</div>

<!-- Page content -->
<div class="main">
<%= render 'home/partials/nav'%>
    <!-- Devise notification styled with bootstrap -->
<% if notice %>
<div class="notice alert alert-success alert-dismissible fade show"
role="alert">
<%= notice %>
<button type="button" class="close" data-dismiss="alert" aria-
label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<% elsif alert %>
<div class="danger alert alert-danger alert-dismissible fade show"
role="alert">
<p><%= alert %></p>
<button type="button" class="close" data-dismiss="alert" aria-
label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<% end %>


<div class="wrapper1" style="min-height: 600px;">



<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5>Home</h5>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Layouts</a></li>
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<section class="content">

      <div class="container-fluid">

       
      


        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">In App purchases:</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
               
                                

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<%= link_to 'Back', root_path %>




              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="p-2 text-xs">
                  <div class="pull-right text-muted py-1">
                    © Copyright <strong>Driversnote</strong> <span class="hidden-xs-down">- Built with care!!</span>
                    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
                  </div>
          
                </div>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
</div> 



</div>

